<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Bot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="Profile.css">
</head>
<body>
<header>
    <div class="user">
        <img src="assets/thumb.png" alt="">
        <h3 class="name">RA BOT</h3>
        <p class="post">rayyreall</p>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>
</header>
<div id="menu" class="fas fa-bars"></div>
<section class="about" id="about">
<h1 class="heading"> <span>Information</span> <%= (typeof botname !== 'undefined') ? botname : 'RA BOT' %></h1>
<div class="row">
    <div class="info">
        <h3> <span> Nama : </span> <%= (typeof nama !== 'undefined') ? nama : 'rayyreall' %> </h3>
        <h3> <span> Nama Bot : </span> <%= (typeof botname !== 'undefined') ? botname : 'RA BOT' %> </h3>
        <h3> <span> Status : </span> <%= (typeof status !== 'undefined') ? status ? "Terhubung" : "Tidak Terhubung" : 'Tidak Terhubung' %> </h3>
        <h3> <span> Script Bot : </span> <a href="https://github.com/rayyreall/Bot-Whatsapp"> https://github.com/rayyreall/Bot-Whatsapp</a></h3>
        <h3> <span> Bahasa Bot : </span> Typescript & javascript for backend, html & css for server </h3>
        <a href="#"><button class="btn"> Download Script <i class="fas fa-download"></i> </button></a>
    </div>
</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/script.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
		var socket = io();
		socket.emit("join")
		socket.on("qr", (qr) => {
			document.getElementById("qrcode").src= qr;
		})
</script>
</body>
</html>